$primary-clr: rgb(255, 177, 59);
$secondar-clr: rgb(62, 98, 255);
$bottom-nav-clr: rgb(32, 39, 53);
$ff-primary: "Major Mono Display", monospace;
$ff-secondary: "Overpass Mono", monospace;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $ff-secondary;
}

nav {
  width: 100%;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 10fr 10fr;
  border-bottom: 2px solid grey;
}

nav #lion-photo {
  margin: 0.5vw 5vw;
  width: 70px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

nav h1 {
  display: flex;
  align-items: center;
  font-family: $ff-primary;
}

nav #ordered-nav {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
}

nav #ordered-nav li {
  list-style: none;
}

nav #ordered-nav li a {
  text-decoration: none;
  color: black;
  transition: all 0.1s ease-in-out;
  font-family: $ff-primary;
}

nav #ordered-nav a:hover {
  color: darkred;
  font-weight: 800;
  font-size: 28px;
}

#photo-section {
  width: 100%;
  height: 90vh;
  position: relative;
  padding: 0px;
  overflow: hidden;

  #slider-caption {
    position: absolute;
    width: 45vw;
    top: 10%;
    right: 10vw;
    text-align: right;
    z-index: 3;
    font-size: 4rem;
    font-weight: 800;
    color: white;
    opacity: 1;
    transition: opacity 2s;
    font-family: $ff-primary;
  }
}

#photo-section .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: transform 1s;
}

#photo-section .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#photo-section .slide-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  font-size: 5rem;
  background: none;
  border: none;
  transform: translateY(-50%) scaleX(-1);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 2rem;
}

#photo-section .slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#photo-section #right-slider-btn {
  right: 0;
  transform: translateY(-50%);
}

#about-section {
  width: 100%;
  font-family: $ff-secondary;
  background: url("/img/city-bg-black-and-white.jpg");
  object-fit: fill;
  background-size: 100% 130%;
  border-top: 8px solid grey;
  color: white;
  padding: 15vh 0;
  text-shadow: 2px 3px $bottom-nav-clr;
  color: $primary-clr;

  #about-h1 {
    font-family: inherit;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 2vh 0;
    text-align: center;
    font-size: 4rem;
    width: 60vw;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.7);

    box-shadow: -15px 15px $bottom-nav-clr;
  }

  #flex-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .about-img {
      display: block;
      min-width: 154px;
      border-width: 2rem;
      border-style: solid;
      border-bottom: none;
      border-left: none;
      padding: 5vh;
      border-radius: 5%;
      background-color: $secondar-clr;
      border-image: linear-gradient(
          to bottom right,
          $bottom-nav-clr,
          $primary-clr 10% 80%,
          $bottom-nav-clr
        )
        1;
    }
    #right-img {
      transform: scaleX(-1);
    }
    #about-p {
      width: 40vw;
      padding: 2vh 2vh;

      font-family: inherit;

      font-size: 1.8rem;
      width: 55vw;
      text-align: center;
      line-height: 3rem;
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: -15px 15px $bottom-nav-clr;
    }
  }
}

#location-section {
  width: 100%;
  border-top: 8px solid grey;
  padding: 15vh 0;

  #location-caption {
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2.2rem;
    font-family: $ff-primary;
    font-weight: 700;
    margin-bottom: 15vh;
  }

  #flex-location-div {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    .location-item {
      border: 5px solid black !important;
      border-radius: 5%;
    }

    #hours-div {
      width: 500px;
      list-style-type: none;
      text-align: center;
      padding: 0;
      font-size: 1.5rem;
      font-variant: small-caps;
      font-weight: 500;

      #hours-caption {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        font-size: 1.7rem;
        font-style: italic;
        margin-bottom: 1rem;
      }

      .skewed-bg {
        padding: 5px 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        background: linear-gradient(
          135deg,
          white 5%,
          $primary-clr 5%,
          $primary-clr 95%,
          white 95%
        );

        p {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

#bottom-nav {
  width: 100%;

  border-top: 8px solid grey;
  background-color: $bottom-nav-clr;
  #bottom-list {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 5vh 0;
    text-align: center;
    list-style-type: none;
    font-size: 1rem;
    a {
      color: $primary-clr;
      text-decoration: none;
    }
    li {
      margin-bottom: 1vh;
      transition: transform ease-in 0.1s;
    }
    li:hover {
      transform: scale(1.1);
    }
  }
}

/*# sourceMappingURL=sassy.scss.map */
